html {
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

th {
    background-color: #c1c1c1;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

.numero {
    width: 10%;
}

.intitule {
    width: 25%;
}

.infos {
    width: 20%;
}

.date {
    width: 15%;
}

.services {
    width: 20%;
}

.valide {
    width: 5%;
}

.bouton {
    width: 5%;
}

td {
    padding: 8px;
    border-bottom: 1px solid #787878;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #028480;
}

button, input[type="submit"], input[type="file"]::file-selector-button {
    cursor: pointer;
    margin-top: 20px;
    background-color: #3ac1b8;
    color: white;
    border: 1px solid #616161;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: bold;
}

button a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 16px;
}

button:not(a) {
    padding: 6px 16px;
}

input[type="submit"] {
    padding: 6px 16px;
}

button:hover, input[type="submit"]:hover, input[type="file"]::file-selector-button:hover {
    background-color: #028480;
    color: white;
}

button#refuser {
    background-color: #ff3333;
}

button#refuser:hover {
    background-color: #ff9999;
}

.flex-container-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    border-radius: 10px;
    border: #919191 5px solid;
    padding: 20px;
    background-color: #D3D3D3;
}

.not-bordered {
    border: none;
    background-color: white;
    justify-content: space-around;
}

.not-bordered button {
    width: 200px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.connexion_submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.connexion_submit a {
    text-decoration: none;
    padding: 6px 16px;
}

.connexion_submit input[type="submit"] {
    margin-top: 0;
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr button {
    margin-top: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border: #919191 5px solid;
    padding: 20px;
    background-color: #D3D3D3;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c1;
    resize: none;
    background-color: #f4f4f4;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c1;
    margin-top: 10px;
    background-color: #f4f4f4;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
}

label {
    font-size: 1.2em;
    margin-top: 20px;
}

form input[type="submit"] {
    width: 80%;
    margin-top: 20px;
}

select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c1;
    margin-top: 10px;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

.flex-item {
    margin: 10px;
}

form input.bouton_fermer {
    width: 20%;
}

select#annees {
    width: 30%;
}

.border-vertical {
    margin: 0 50px;
    border-radius: 10px;
    border: #919191 5px solid;
    padding: 20px;
    background-color: #D3D3D3;
    justify-content: space-around;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #028480;
    padding: 5px 10px;
    border-radius: 10px;
    border: #919191 5px solid;
    position: relative;
    top: 0;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    float: left;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-bar a:hover {
    color: white;
}

.nav-bar .float-right {
    right: 0;
    margin-right: 10px;
}

.nav-bar img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    float: left;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    float: left;
}

#response-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
}

#email_recherche {

}

#result_email {
    width: 80%;
    max-height: 400px;
    overflow-y: scroll;
}

#result_email .active {
    background-color: #D3D3D3;
    border-radius: 10px;
    border: #919191 5px solid;
    padding: 20px;
}

#result_email li {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

#result_email li:hover {
    background-color: #919191;
    border-radius: 10px;
}

.boutons_suppr {
    width: 40%;
    margin: auto;
}

.boutons_suppr button {
    margin: 0;
}

.hub_utilisateur {
    width: 70%;
    margin: auto;
    justify-content: space-around;
}

#response-container-ajouter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
}

#response-container-supprimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.btn_hub {
    margin-left: 50px;
}

.ok {
    background-color: lightgreen;
}

.menu-services {
    justify-content: space-evenly;
}

.div-admin {
    justify-content: space-around;
}

.table-container {
    overflow-x: auto;
    width: 100%;
    transform: rotateX(180deg);
    border: 2px solid lightgray;
    max-height: 500px;
    overflow-y: scroll;
}

.button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 16px;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    transform: rotateX(180deg);
}

td {
    border: 1px solid lightgray;
}